.icon {
  text-align: right;
  height: 48px;
  overflow: hidden;
  padding-inline: 1rem;
  position: relative;
}

.icon > img {
  width: 100px;
  position: relative;
  top: -8px;
}

[data-activity-type="work"] {
  background-color: var(--clr-orange-200);
}

[data-activity-type="play"] {
  background-color: var(--clr-blue-100);
}

[data-activity-type="study"] {
  background-color: var(--clr-red-100);
}

[data-activity-type="exercise"] {
  background-color: var(--clr-green-100);
}

[data-activity-type="social"] {
  background-color: var(--clr-violet-100);
}

[data-activity-type="self-care"] {
  background-color: var(--clr-orange-100);
}
